* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

header h1 {
  text-align: center;
  padding: 2rem;
}

.container {
  max-width: 35rem;
  text-align: center;
  margin: 0 auto;
}

.que-info {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.category {
  background-color: rgb(78, 29, 17);
}

.green,
.yellow,
.red,
.category {
  padding: 0.2rem 0.7rem;
  color: white;
  border-radius: 15px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: rgb(255, 115, 0);
}

.red {
  background-color: red;
}

.answers {
  display: flex;
  max-width: 25rem;
  margin: 2rem auto;
  flex-direction: column;
  gap: 0.8rem;
}

.ans-btn {
  border: solid 1px #afafaf;
  padding: 1rem;
  border-radius: 25px;
  transition: all 0.45s;
}

.hover:hover,
.active {
  transform: translateX(15%);
}

.correctAns {
  background-color: #530a0a;
  color: #ffff;
}

.btn {
  padding: 1rem 1.5rem;
  border-radius: 25px;
  font-family: inherit;
  background-color: #530a0a;
  color: #ffff;
  border: none;
}

progress {
  width: 100%;
  height: 2rem;
  margin-bottom: 2.5rem;
}

.progressDetails,
.question-btn-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin-bottom: 1.5rem;
}

.finish-display {
  background-color: #0a1553;
  color: #ffff;
  padding: 1.5rem 3rem;
  border-radius: 35px;
  margin-bottom: 1.5rem;
}

.btn-timer {
  background-color: #afafaf;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 25px;
}

.question-btn-div {
  padding: 0 2rem;
}
